### This is the Second Part of Exploratory Data Analysis (EDA) & Processing Data 

### Part 2 ==============================> Processing Duplicates

# Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import shutil
from difflib import SequenceMatcher

# Processing Duplicates

We should now remove duplicates from dataset as it would affect badly our work but why?

Amazon may have for example 4 identical title more or less for the same item with 4 diffrent sizes so this would not give any information to us if we keep thoose 4 diffrent size items but with same title for that one is just enough, Not to mention that those products will be the most similar at our results if we keep them in the dataset, so removing them is a neccessary and critical step.

In [ ]:
data = pd.read_pickle("pickle_files/data")

In [ ]:
data.shape

(182987, 5)

In [ ]:
data.columns

Index(['asin', 'brand', 'large_image_url', 'product_type_name', 'title'], dtype='object')

In [ ]:
# dropping just identical rows based on title column
data.drop_duplicates(['title'] , inplace = True)

In [ ]:
# removing rows with title less than 5 characters
data = data[data.title.str.len() > 4]

In [ ]:
data.shape

(175833, 5)

In [ ]:
# Most frequent categories in product_type_name column
data['product_type_name'].value_counts()

SHIRT                      161660
APPAREL                      3398
BOOKS_1973_AND_LATER         2701
DRESS                        1544
SPORTING_GOODS               1241
                            ...
JEWELRY                         1
PROFESSIONAL_HEALTHCARE         1
GOLF_CLUB                       1
COMPUTER_COMPONENT              1
BUILDING_MATERIAL               1
Name: product_type_name, Length: 72, dtype: int64

We should combine SHIRT with SHIRTS and any other very similar categories if exist.

Wrongly labeled types better to remove them than renaming them cause they are similar to other and very few.

In [ ]:
# Manually removing uneccessary cats from product_type_name column
to_remove = ['MECHANICAL_COMPONENTS' , 'KITCHEN' , 'TOYS_AND_GAMES' , 'HOME_FURNITURE_AND_DECOR' , 'AUTO_PART' , 'TOOLS' , 'HOME_BED_AND_BATH' , 
'OFFICE_PRODUCTS', 'POWERSPORTS_VEHICLE_PART', 'BOOKS_1973_AND_LATER', 'INSTRUMENT_PARTS_AND_ACCESSORIES',
'LUGGAGE', 'SAFETY_SUPPLY' , 'SEEDS_AND_PLANTS' , 'TABLET_COMPUTER' , 'COMPUTER_COMPONENT','CONSUMER_ELECTRONICS' ,'ABIS_DVD', "NONAPPARELMISC", 'BUILDING_MATERIAL', 
'PROFESSIONAL_HEALTHCARE', 'GUILD_ACCESSORIES', 'PET_SUPPLIES' , 'SOUND_AND_RECORDING_EQUIPMENT',
'WIRELESS_ACCESSORY', 'VIDEO_DVD', 'GOLF_CLUB', 'POWERSPORTS_PROTECTIVE_GEAR','HEALTH_PERSONAL_CARE' , 'INSTRUMENT_PARTS_AND_ACCESSORIES ']

for v in to_remove:
  data = data[data['product_type_name'] !=  v]

In [ ]:
# Mergin SHIRT cats with SHIRT
data[data['product_type_name'] == 'SHIRTS'] = 'SHIRT'

Now after merging and cleaning let's check most frequent categoires in product_type_name column which is really important feature to us.

In [ ]:
print(data['product_type_name'].value_counts())

SHIRT                         161664
APPAREL                         3398
DRESS                           1544
SPORTING_GOODS                  1241
SWEATER                          780
OUTERWEAR                        766
OUTDOOR_RECREATION_PRODUCT       704
ACCESSORY                        612
UNDERWEAR                        421
PANTS                            357
ORCA_SHIRT                       265
BLAZER                           246
SHOES                            195
SLEEPWEAR                        142
SKIRT                            105
BRA                               93
MISC_OTHER                        42
SWIMWEAR                          40
AUTO_ACCESSORY                    40
HOME                              34
ADULT_COSTUME                     24
BEAUTY                            21
HANDBAG                           21
HAT                               18
ART_SUPPLIES                      17
ETHNIC_WEAR                       17
SHORTS                            14
SOCKSHOSIERY                      14
SUIT                               8
OUTDOOR_LIVING                     6
ABIS_APPAREL                       3
BABY_PRODUCT                       3
HARDWARE                           3
BABY_COSTUME                       2
BAG                                2
POWERSPORTS_RIDING_JACKET          2
MUSIC_POPULAR_VINYL                1
ART_AND_CRAFT_SUPPLY               1
JEWELRY                            1
ABIS_SPORTS                        1
EYEWEAR                            1
POWERSPORTS_RIDING_SHIRT           1
Name: product_type_name, dtype: int64

In [ ]:
data.shape

(172870, 5)

In [ ]:
# Saving data at this stage
data.to_pickle('/content/drive/MyDrive/pickle_data2')

we should deal with rare values as it's cause overfitting espically in Trees classifer

In [ ]:
# data = pd.read_pickle('pickle_data2')

In [ ]:
# Sorting data by title so it's faster to compare each successive two rows togeather
data.sort_values(by = ['title'] , ascending = False , inplace = True)

Please Note that the below code would take very long to finish cleaning data as it use SequenceMatcher function to get the best result.

In [ ]:
# Naive script to compare each two rows togeather, Would take a lot of time but it give an accurate results
# I choose the threshold here to be 0.80, this could change as a hyperparameter 
# If increase this threshold this would mean more accuray of results but less rows to keep
# If decrease this threshold this would mean more rows to keep but less accuracy of results

# The code goes as follow

# Step 1 if the difference in number of words between two rows is more than 3 then go step 5
# Step 2 if the difference in number of words between two rows is 3 or less then compare the last 3 words
# Step 4 if those words identical then flag those rows as duplicate and remove the second one and repeat
# Step 5 if none of above is True then use [Sequence Matcher] alogrithm to get the ratio of similarity between those rows
# Step 6 if ratio is more than 0.80 (similar with 80% of certintiy level) go to step 4
# Step 7 if ratio is less or equal to 0.80 then repeat

title = np.array(data['title'].values)
d = set()
 
for i in range(0 , len(title):
 
    if i in d:
      continue
      
    s1 = title[i]
    ss1 = s1.split()
    l1 = len(ss1)
 
    for j in range(i + 1 , len(title) , 1):
 
      if j in d:
        continue
      
      s2 = title[j]
      ss2 = s2.split()
      l2 = len(ss2)
      
      if(abs(l1 - l2) > 3):
        continue
 
      if ss1[:-2] == ss2[:-2]:
       d.add(j)
 
      elif ( (SequenceMatcher(a = s1 , b = s2).ratio()) > 0.80):
        d.add(j)

In [ ]:
# droping results indices
data.drop(data.index[dd], axis = 0 , inplace = True)

In [ ]:
data.to_pickle('pickle_data2')

In [ ]:
# data = pd.read_pickle('pickle_data2')
data.shape

(116000, 5)

In [ ]:
data.head()

              asin  ...                                              title
51094   B01D0ZY642  ...  Womens Funny Racerback Tank Top “Training To B...
26784   B074MNBQDP  ...              Antilia Femme Tie Front Floral Blouse
152339  B017UVFKSS  ...                      Bubble B's two piece like top
151647  B01LXNXM57  ...  Face N Face Women's Autumn Hooded Letter Print...
3811    B0742ZCT7T  ...  ASSKDAN Women's Casual Short Sleeves Top Cold ...

[5 rows x 5 columns]